h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
h2{font-size:25px;font-weight:300;}
h3{font-size:20px;font-weight:300;}
h4{font-size:16px;font-weight:400;}
h5{font-size:13px;font-weight:400;}
ul{margin:0;padding:0;list-style-type:none;}
.margint5{margin-top:5px !important;}
.margint10{margin-top:10px !important;}
.margint20{margin-top:20px !important;}
.margint30{margin-top:30px !important;}
.margint40{margin-top:40px !important;}
.margint50{margin-top:50px !important;}
.margint60{margin-top:60px !important;}
.margint70{margin-top:70px !important;}
.margint80{margin-top:80px !important;}
.margint90{margin-top:90px !important;}
.margint100{margin-top:100px !important;}
.margint120{margin-top:120px !important;}
.marginb10{margin-bottom:10px !important;}
.marginb20{margin-bottom:20px !important;}
.marginb30{margin-bottom:30px !important;}
.marginb40{margin-bottom:40px !important;}
.marginb50{margin-bottom:50px !important;}
.marginb60{margin-bottom:60px !important;}
.marginb70{margin-bottom:70px !important;}
.marginb80{margin-bottom:80px !important;}
.marginb90{margin-bottom:90px !important;}
.marginb100{margin-bottom:100px !important;}
.marginb120{margin-bottom:120px !important;}
.padrl20{padding:0 20px;}
.padrl50{padding:0 50px;}
.padt20{padding-top:20px;}
.padt40{padding-top:40px;}
.padt50{padding-top:50px;}
.padt60{padding-top:60px;}
.padb20{padding-bottom:20px;}
.padb30{padding-bottom:30px;}
.padb60{padding-bottom:60px;}
.pad5{padding:5px;}
.pad10{padding:10px;}
.pad20{padding:20px;}
.pad30{padding:30px;}
::-webkit-input-placeholder{color:#9e9e9e;font-weight:300;}
::-moz-placeholder{color:#9e9e9e;font-weight:300;}
:-ms-input-placeholder{color:#9e9e9e;font-weight:300;}
input:-moz-placeholder{color:#9e9e9e;font-weight:300;}
a{-webkit-transition-property:color, text;-webkit-transition-duration: 0.3s, 0.3s;-webkit-transition-timing-function: linear, ease-in;-moz-transition-property:color, text;-moz-transition-duration:0.3s;-moz-transition-timing-function: linear, ease-in;-o-transition-property:color, text;-o-transition-duration:0.3s;-o-transition-timing-function: linear, ease-in;}
a, a:visited, a:focus, a:active, a:hover{outline:0 none !important;}
.resetter{margin:0;padding:0;}
.pos-center{text-align: center !important;}
.pos-left{text-align: left !important;}
.pos-right{text-align: right !important;}